---
---

<section class="relative w-full overflow-hidden">
	<!-- Banner Image -->
	<img 
		src="https://vividinktattoos.co.uk/wp-content/uploads/2025/12/vividink-Christmas-banner1.jpg"
		alt="Vivid Ink Christmas Banner"
		class="w-full h-auto object-cover object-center block"
		loading="eager"
		fetchpriority="high"
	/>
</section>

<style>
	section {
		position: relative;
		width: 100%;
		display: block;
	}
	
	section img {
		display: block;
		width: 100%;
		height: auto;
	}
</style>
