---
---

<section class="pt-24 md:pt-32 pb-8">
	<!-- Desktop Banner -->
	<div class="hidden md:block">
		<a href="/christmas-gift-card-sale/" class="block">
			<img 
				src="https://vividinktattoos.co.uk/wp-content/uploads/2025/12/vividink-Christmas-banner1.jpg" 
				alt="Vivid Ink Christmas Banner" 
				class="w-full h-auto object-cover"
			/>
		</a>
	</div>
	
	<!-- Mobile Banner -->
	<div class="block md:hidden">
		<img 
			src="https://vividinktattoos.co.uk/wp-content/uploads/2025/12/vividink-Christmas-banner2.jpg" 
			alt="Vivid Ink Christmas Banner Mobile" 
			class="w-full h-auto object-cover"
		/>
	</div>
</section>